.app-color-primary {
    color: #0c356a;
}

.app-color-secondary {
    color: #279EFF;
}

.app-color-third {
    color: #40F8FF;
}

.app-color-base {
    color: #D7E9F2;
}

.app-overlay-color {
    color: #a4dffcb7;
}

.app-base-80 {
    color: #ABCDD8;
}

/* background color */

.app-bg-primary {
    background-color: #0c356a;
}

.app-bg-secondary {
    background-color: #279EFF;
}

.app-bg-third {
    background-color: #40F8FF;
}

.app-bg-base {
    background-color: #D7E9F2;
}

.app-overlay-bg {
    background-color: #a4dffcb7;
}

.app-base-80-bg {
    background-color: #ABCDD8;
}

/* edit scroll bar */

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #279EFF;
}

::-webkit-scrollbar-thumb {
    background: #0c356a;
}

::-webkit-scrollbar-thumb:hover {
    background: #072244;
}

/* edit scroll bar */
